<p>main works!</p>

<div class="form-group">
  <div class="custom-checkbox mb-1">
    <input type="checkbox" [(ngModel)]="one"/>
    <span class="checkmark"></span>
    <span class="label">One</span>
  </div>
  <div class="custom-checkbox mb-1">
    <input type="checkbox" [(ngModel)]="two" />
    <span class="checkmark"></span>
    <span class="label">Two</span>
  </div>
  <div class="custom-checkbox mb-1">
    <input type="checkbox" [(ngModel)]="three" />
    <span class="checkmark"></span>
    <span class="label">Three</span>
  </div>
  <div class="custom-checkbox mb-1">
    <input type="checkbox" />
    <span class="checkmark"></span>
    <span class="label">Three</span>
  </div>
</div>

<hr/>

<p>One: {{one}}</p>
<p>Two: {{two}}</p>
<p>Three: {{three}}</p>
